<section id="aboutme" class="hide">
  <div id="parallax">
    <div id="#who-i-am" class="page page-main">
      <!-- <div class="prx mainpage-img1"></div> -->
      <div class="prx title main-btitle">kevin</div>
      <div class="prx title main-ftitle">hu<i class="fa fa-male fa-5x"></i></div>
      <a href="#family" class="prx link lg go-family" data-en="<%= aboutmeObj.family()[0].titleEN %>" data-tw="<%= aboutmeObj.family()[0].titleTW %>"></a>
      <a href="#extroverted" class="prx link lg go-extroverted" data-en="<%= aboutmeObj.extroverted()[0].titleEN %>" data-tw="<%= aboutmeObj.extroverted()[0].titleTW %>"></a>
      <a href="#working" class="prx link lg go-working" data-en="<%= aboutmeObj.working()[0].titleEN %>" data-tw="<%= aboutmeObj.working()[0].titleTW %>"></a>
      <a href="#introverted" class="prx link lg go-introverted" data-en="<%= aboutmeObj.introverted()[0].titleEN %>" data-tw="<%= aboutmeObj.introverted()[0].titleTW %>"></a>
    </div>
    <!-- family -->
    <div id="#family" class="page page-family">
      <!-- <div class="prx title family-title">family</div> -->
      <div class="prx title lg family-title" data-en="<%= aboutmeObj.family()[0].titleEN %>" data-tw="<%= aboutmeObj.family()[0].titleTW %>"></div>
      <div class="prx desc lg family-desc" data-en="<%= aboutmeObj.family()[0].descEN %>" data-tw="<%= aboutmeObj.family()[0].descTW %>"></div>
      <div class="prx img family-img1"></div>
      <div class="prx img family-img2"></div>
      <a href="#who-i-am"  class="prx link lg family-goback" data-en="<%= aboutmeObj.back()[0].titleEN %>" data-tw="<%= aboutmeObj.back()[0].titleTW %>"></a>
    </div>
    <!-- extroverted -->
    <div id="#extroverted" class="page page-extroverted">
      <!-- <div class="prx title extroverted-title">extroverted</div> -->
      <div class="prx title lg extroverted-title" data-en="<%= aboutmeObj.extroverted()[0].titleEN %>" data-tw="<%= aboutmeObj.extroverted()[0].titleTW %>"></div>
      <div class="prx desc lg extroverted-desc" data-en="<%= aboutmeObj.extroverted()[0].descEN %>" data-tw="<%= aboutmeObj.extroverted()[0].descTW %>"></div>
      <div class="prx img extroverted-img1"></div>
      <div class="prx img extroverted-img2"></div>
      <a href="#who-i-am" class="prx link lg extroverted-goback" data-en="<%= aboutmeObj.back()[0].titleEN %>" data-tw="<%= aboutmeObj.back()[0].titleTW %>"></a>
    </div>
    <!-- working -->
    <div id="#working" class="page page-working">
      <!-- <div class="prx title working-title">working</div> -->
      <div class="prx title lg working-title" data-en="<%= aboutmeObj.working()[0].titleEN %>" data-tw="<%= aboutmeObj.working()[0].titleTW %>"></div>
      <div class="prx desc lg working-desc" data-en="<%= aboutmeObj.working()[0].descEN %>" data-tw="<%= aboutmeObj.working()[0].descTW %>"></div>
      <div class="prx img working-img1"></div>
      <div class="prx img working-img2"></div>
      <a href="#who-i-am" class="prx link lg working-goback" data-en="<%= aboutmeObj.back()[0].titleEN %>" data-tw="<%= aboutmeObj.back()[0].titleTW %>"></a>
    </div>
    <!-- introverted -->
    <div id="#introverted" class="page page-introverted">
      <!-- <div class="prx title introverted-title">introverted</div> -->
      <div class="prx title lg introverted-title" data-en="<%= aboutmeObj.introverted()[0].titleEN %>" data-tw="<%= aboutmeObj.introverted()[0].titleTW %>"></div>
      <div class="prx desc lg introverted-desc" data-en="<%= aboutmeObj.introverted()[0].descEN %>" data-tw="<%= aboutmeObj.introverted()[0].descTW %>"></div>
      <div class="prx img introverted-img1"></div>
      <div class="prx img introverted-img2"></div>
      <a href="#collections" class="prx link lg go-collections" data-en="<%= aboutmeObj.collections()[0].titleEN %>" data-tw="<%= aboutmeObj.collections()[0].titleTW %>"></a>
      <a href="#who-i-am"  class="prx link lg introverted-goback" data-en="<%= aboutmeObj.back()[0].titleEN %>" data-tw="<%= aboutmeObj.back()[0].titleTW %>"></a>
    </div>
    <!-- photo collections -->
    <div id="#collections" class="page page-collections">
      <!-- <div class="prx title collections-title">collections</div> -->
      <div class="prx img collections-img1"></div>
      <div class="prx img collections-img2"></div>
      <div class="prx img collections-img3"></div>
      <div class="prx img collections-img4"></div>
      <div class="prx img collections-img5"></div>
      <div class="prx img collections-img6"></div>
      <div class="prx img collections-img7"></div>
      <div class="prx img collections-img8"></div>
      <a href="#introverted" class="prx link lg collections-goback" data-en="<%= aboutmeObj.back()[0].titleEN %>" data-tw="<%= aboutmeObj.back()[0].titleTW %>"></a>
    </div>
<!--       <h3>
      There is someone knows his own mind, having some of visual aesthetic, UI/UX thinking, some of knowledge of BackEnd world, database, anything relative to Web,  tools to make work flow better and the most important thing that solved problems independently. It's what i try to be..a FrontEnd Developer. By KevinHu
    </h3> -->
  </div>
</section>