<section id="background" class="hide">
  <main class="container">
    <article class="background-title clearfix">
      <figure class="cover-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346 400" perpetual-motion="0">
          <path class="stroke" fill="#006B6C" d="M173 0L0 100v200l173 100l173-100V100L173 0z M342 297.5L173 395L4 297.5v-195L173 5l169 97.5V297.5z" style="transform-origin: 0px 0px 0px; transform: matrix3d(0.99621, 0.08694, 0, 0, -0.08694, 0.99621, 0, 0, 0, 0, 1, 0, 18.0446, -14.2844, 0, 1);"></path>
        </svg>
        <!-- <img class="logo" src="/images/mywebsite/me.jpg" alt="Google Cultural&amp;nbsp;Institute" title="Google Cultural&amp;nbsp;Institute" src="img/projects/culturalinstitute/logo.png"> -->
      </figure>
      <div class="info">
        <h1 class="lg" data-en="<%= backgroundObj.main()[0].titleEN %>" data-tw="<%= backgroundObj.main()[0].titleTW %>"></h1>
        <h3 class="lg" data-en="<%= backgroundObj.main()[0].briefEN %>" data-tw="<%= backgroundObj.main()[0].briefTW %>"></h3>
      </div>
    </article>
  </main>
  <div class="background-years">
    <% for( var i = 0; i < backgroundObj.bkgs().length; i++) { %>
      <div class="years lg years-<%= backgroundObj.bkgs()[i].identity %>">
          <h1 class="lg" data-en="<%= backgroundObj.bkgs()[i].titleEN %>" data-tw="<%= backgroundObj.bkgs()[i].titleTW %>"></h1>
      </div>
      <div class="container">
          <h2 class="lg" data-en="<%= backgroundObj.bkgs()[i].briefEN %>" data-tw="<%= backgroundObj.bkgs()[i].briefTW %>"></h2>
          <p class="lg" data-en="<%= backgroundObj.bkgs()[i].descEN %>" data-tw="<%= backgroundObj.bkgs()[i].descTW %>"></p>
      </div>
    <% } %>
  </div>
</section>