<section id="projects" class="hide">
  <div id="profolios-section" class="profolios-section">
    <ul>
      <% for( var i = 0; i < projectsObj.projects().length; i++) { %>
        <li class="profolio">
          <div class="profolio-outside">
            <!-- <h2 class="profolio-title"> in Aite </h2> -->
            <div class="profolio-title <%= projectsObj.projects()[i].title %>"></div>
            <p class="profolio-brief lg" data-en="<%= projectsObj.projects()[i].briefEN %>" data-tw="<%= projectsObj.projects()[i].briefTW %>"></p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc lg" data-en="<%= projectsObj.projects()[i].descEN %>" data-tw="<%= projectsObj.projects()[i].descTW %>"></p>
            <div class="close-section"><a class="fa fa-home close"> back to projects</a></div>
          </div> <!-- .profolio-inside -->
        </li>
      <% } %>
    </ul>
    <i class="fa fa-arrow-down fa-3x profolio-down"></i>
    <!-- <a href="#" class="close"></a> -->
    <!-- <a href="#" class="scroll"></a> -->
  </div> <!-- .project-container -->
</section>