<section id="skills" class="hide">
  <div id="background-bubble">
    <div class="bubble1"></div>
    <div class="bubble2"></div>
  </div>
  <!-- <div id="background-cloud">
      <div class="cloud1">
          <div class="cloud"></div>
      </div>

      <div class="cloud2">
          <div class="cloud"></div>
      </div>

      <div class="cloud3">
          <div class="cloud"></div>
      </div>

      <div class="cloud4">
          <div class="cloud"></div>
      </div>

      <div class="cloud5">
          <div class="cloud"></div>
      </div>
  </div> -->
  <div id="skill-wall">
    <ul class="skill-backend">
      <% for( var i = 0; i < skillsObj.backend().length; i++) { %>
        <li class="<%= skillsObj.backend()[i].title %>"><%= skillsObj.backend()[i].show %></li>
      <% } %>
    </ul>
    <ul class="skill-frontend">
      <% for( var i = 0; i < skillsObj.frontend().length; i++) { %>
        <li class="<%= skillsObj.frontend()[i].title %>"><%= skillsObj.frontend()[i].show %></li>
      <% } %>
    </ul>
  </div>
  <div id="skills-desc" class="container">
    <ul>
      <% for( var i = 0; i < skillsObj.desc().length; i++) { %>
        <li class="lg" data-en="<%= skillsObj.desc()[i].briefEN %>" data-tw="<%= skillsObj.desc()[i].briefTW %>"></li>
      <% } %>
    </ul>
  </div>
  <div id="skills-detail">
    <div class="levels clearfix">
      <% for( var i = 0; i < skillsObj.levelBlock().length; i++) { %>
        <div class="lg" data-en="<%= skillsObj.levelBlock()[i].briefEN %>" data-tw="<%= skillsObj.levelBlock()[i].briefTW %>"></div>
      <% } %>
    </div>
    <% for( var i = 0; i < skillsObj.levelSkill().length; i++) { %>
      <div class="skill-level">
        <div class="junior"></div>
        <div class="middle"></div>
        <div class="senior"></div>
        <div class="bar" data-percent="<%= skillsObj.levelSkill()[i].percent %>" data-skill="<%= skillsObj.levelSkill()[i].title %>"></div>
      </div>
    <% } %>
  </div>
</section>