<div id="helper">
  <div class="container clearfix">
    <div class="head-boy">
      <div class="head">
        <div class="eyes"></div>
      </div>
      <div class="feets"></div>
    </div>
  </div>
<!--   <div class="equip-section">
    <div class="equip">aaa</div>
    <div class="equip">bbb</div>
  </div>
  <div class="padding-section">
    paddings section
  </div> -->
  <div class="msg-board">
    <div class="fb-comments" data-href="http://www.sky790312.tk/" data-width="100%" data-numposts="5" ></div>
    <div class="fb-close"><a href="#" class="fa fa-home"> back to menus</a></div>
  </div>
  <div class="helper-menu">
<!--       <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
    <label for='menu-toggler'></label> -->
    <ul>
      <% for( var i = 0; i < helperObj.menu().length; i++) { %>
        <li>
          <a id="<%= helperObj.menu()[i].title %>" class="menu-item <%= helperObj.menu()[i].state %>"><strong class="lg" data-en="<%= helperObj.menu()[i].showEN %>" data-tw="<%= helperObj.menu()[i].showTW %>"></strong></a>
        </li>
      <% } %>
    </ul>
  </div>
  <div class="help-desc lg" data-en="<%= helperObj.brief()[0].showEN %>" data-tw="<%= helperObj.brief()[0].showTW %>"></div>
<!--     <div class="">
    <a class="social-link fa fa-html5" href=""></a>
    <a class="social-link fa fa-css3" href=""></a>
  </div> -->
</div>
<div id="helper-background"></div>
